.gg{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;
}
@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(calc(100%     30px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

.toast{
  display: flex;
  align-items: center;
  width: 400px;
  background-color: bisque;
  border-left: 5px solid;
  height: 80px;
  border-radius: 5px;
  z-index: 1;
}
.toast     .toast {
  margin-top: 10px;
}
.toast__success{
  border-left-color: green;
}
.toast__warning{
  border-left-color: yellow;
}
.toast__error{
  border-left-color: red;
}
.toast-icon{
  font-size: 25px;
  padding: 0 10px;
  margin: 0 10px;
}
.toast__success .toast-icon i{
  color: green;
}
.toast__warning .toast-icon i{
  color: yellow;
}
.toast__error .toast-icon i{
  color: red;
}
.toast-body{
  flex: 1;
}
.toast__success .toast-body h3 {
  color: green;
}
.toast__warning .toast-body h3 {
  color: yellow;
}
.toast__error .toast-body h3 {
  color: red;
}
.toast-body h3 {
  margin: 10px 0 5px 0;
}
.toast-body p {
  margin: 0 0 10px 0;  
}
.toast-exit i {
  font-size: 25px;
  padding: 0 10px;
  margin-right: 15px;
}



.tabs{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tab-item{
  font-size: 25px;
  padding: 15px;
  color: brown;
  opacity: 0.5;
  border-bottom: 5px solid transparent;
  
}
.tab-item:hover {
  border-bottom-color: red;
  opacity: 1;
}

.tab-icon{

}
.line{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0px;
  height: 5px;
  background-color: red;
}
.tab-content{

}
.tab-pane{
  display: none;
}
.active{
  opacity: 1;
  display: block;
  background-color: white;
}

#form-register {
  margin-top: 50px;
  
}
.form-group  {
  
}
#form {
  margin: 0 auto;
  width: 400px;
  background-color: antiquewhite;
  padding: 20px;
}
.user {
  display: block;
}
#form button {
  margin-top: 15px;
}

.invalid input {
  border: 1px solid red;
}

.invalid .message {
  color: red;
}

.item {
  position: relative;
  right: 0;
  transition: top linear .1s;
}

.item:hover {
  top: -4px;
  color: red;
  : ;
}
.t {
  color: red;
}
.f {
  color: aqua;
}
.g {
  color: green;
}

#heart i {
  font-size: 50px;
  
}

i.icon-fill {
  color: red;
  display: none;
}

.icon-liked .icon-fill {
  display: inline-block;
}

.icon-liked .icon-empty {
  display: none;
}